@tailwind base;
@tailwind components;
@tailwind utilities;


.oswald-new {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200,300, 400, 500, 600, 700;
    font-style: normal;
  }

:root {
    --orange-dull: #CF4C2E;
  }
* {
    font-family: "Oswald", sans-serif;
    font-weight: 300;

}

#root{
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    overscroll-behavior: none;
    position: fixed;
    
}

img {
    height:100%;
    width: auto;
    object-fit: cover;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-btn{
    position: fixed;
    width: 100%;
    max-width: 100%;
    top: 6.4vw;
    left: 0;
    z-index: 2;
    display: flex;
    padding: 0 6.4vw;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;
}

.flex1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
